
[Training]
    epochs = 1_000
    batch_size = 128
    log_every = 50
    sample_every = 100
    ckpt_every = 1_000
    lr = 1e-5
    weight_decay = 0
    wandb = True

    results-dir = results
    seed = 42
    num_workers = 4
    entity = gigotleandri-lirmm
    project = med_project

    emb_freeze = False
    emb_ckpt = None


[Trained Instances]
    [[base_model]]
    type = MarginalModel
    sampler = SSESampler
    label = Baseline model
        [[[model_args]]]
        hidden_dims = 100, 256
        [[[sampler_args]]]

    [[ar_model]]
    type = AutoRegModel
    sampler = AutoRegSampler
    # ckpt = /home/sebastiengl/Trash/results/017-AutoRegModel/checkpoints/0002000.pt
        [[[model_args]]]
        [[[sampler_args]]]
        # selection = stocha
        # T = 1

[Data]
    [[Paths & Directories]]
    train_path = data/Med_ADNe_pa.csv #data/train_species.csv #if folds are present (dataset & checkpoint) and test is None, train or evaluate on every folds
    test_path = None #data/test_species.csv
    metadata_path = data/meta_mod.csv

    [[Folds]]
    kfold_path = data/meta_mod.csv
    index_fold = spatial_fold

    [[Dataset]]
    dataset_class = TabularDataset

    [[Dataset Args]]
    tokenize_method= stocha
    index_column= spygen_code
    var_cols = depth, mpa_fully, temperature, volume_sampled


[Evaluation]
nb_sample = 30
batch_max = None
compute_mmd = False
colors = #414042, #d4862a, #1dade4, #bd393b, #6AA768, #895891


[Evaluated Instances]
    [[ar_model]]
    ckpt_folder = results/155-Experiment/ar_model/
    ckpt_step = 10_000
    sampler = AutoRegSampler
    label = AR model, T: 1
        [[[sampler_args]]]
        selection = stocha
        T = 1

    [[base_model]]
    ckpt_folder = results/155-Experiment/base_model/
    ckpt_step = 10_000
    sampler = MarginalSamplersu
    label = Baseline model
        [[[sampler_args]]]

